# Node modules
node_modules/


# Logs
logs
*.log
npm-debug.log*
tests/agents/vulnerabilityTech/fixtures/python/vulnerable_app/logs
tests/agents/dev/python-security-integration/vulnerable_app/logs

# Build output
build/*.txt

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

CLAUDE.md
.ai/*
test-project-install/*
sample-project/*
.claude
.windsurf/
.trae/
.bmad-core
.bmad-creator-tools
.gemini
.bmad*/.cursor/
web-bundles/